@font-face {
  font-weight: 1 999;
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype-variations");
  font-display: swap;
}
@font-face {
  font-weight: 1 999;
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-VariableFont_wght.ttf")
    format("truetype-variations");
  font-display: swap;
}
@font-face {
  font-weight: 1 999;
  font-family: "Lora";
  font-style: italic;
  src: url("/fonts/Lora/Lora-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-display: swap;
}
